html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  scrollbar-gutter: stable;
  font-size: 18px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--bg-body);
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 43vh;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
}
